*{
    margin: 0;
    padding: 0;
  }
  
  html, body {
    background: #5C258D;
    background: -webkit-linear-gradient(to right, #4389A2, #5C258D);
    background: linear-gradient(to right, #4389A2, #5C258D);
    height: 100%;
    min-width: 500px;
    text-align: center;
  }
  
  #traitement { 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial,sans-serif;
  }
  
  /*le traitement des styles de texte de citation*/
  #citation {
    font-size: 2em;
    font-family: 'Satisfy', curve;
    line-height: 1.3em;
    letter-spacing: 1px;
    align-content: center;
  }
  
  /*L'ouverture des cotes sur la citation */
  #citation:before {
    content: open-quote;
  }
  
  /*fermeture des cotes sur la citation */
  #citation:after {
    content: close-quote;
  }
  
  /*Auteur style */
  #auteur {
    font-size: 1.5em;
    font-style: italic;
  }
  
  /*style pour la generation des citations */
  #nouveau {
    background: #ff9966;
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);
    background: linear-gradient(to right, #ff5e62, #ff9966);
    cursor: pointer;
  }